html, body {
  margin: 0;
  padding: 0;
  background-color: #006e11;
  background-image: url("bg.png");
  font-family: 'Quantico', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
  color: white;
}

button {
  background-color: #e8c547;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 1em;
  font-weight: 900;
}

button.deck {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 1em;

}


button.draw {
  font-size: 1.2em;
  width: 100%;
}

button:hover {
  background-color: #f9b500;
}

div.card-slot {
  height: 200px;
  width : calc(200px * 5 / 7);
}

div.card-slot:nth-of-type(1) {
  margin-bottom: 50px;
}

img.card {
  width: 100%;
  height: 100%;
}

.deck-info {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
}


.deck-remaining {
  width: fit-content;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.deck-remaining:hover{
  scale: 1.1;
}

@media only screen and (max-width: 768px) {
  button.deck {
    width: 75px;
    height: 75px;
  }
  div.card-slot {
    height: 100px;
    width : calc(100px * 5 / 7);
    margin-bottom: 1em;
  }
}